* , *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    /* line-height: 1.4; */
    min-height: 100%;
    background-image: url(https://picsum.photos/1200/1200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center ;
    background-position-y: center ;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* 
 fieldset {

 } */
h3 {
    text-align: center;
}
form {
    width: 480px;
    padding: 30px 50px;
    border-radius: 7px;
    background-color: rgb(255, 255, 255, 0.93);
    box-shadow: 0 0 14px gray;
}

.form__group {
    margin-bottom: 12px;
    width: 100%;
    float: left;
}
.skills {
    display: flex;
}
/* .gender {
    display: flex;
} */
.form__label {
    display: block;
    float: left;
    padding-bottom: 8px;
}

input {
    padding: 8px 12px;
    width: 100%;
    float: left;
    border: 2px solid rgb(174, 164, 164);
    border-radius: 8px;
}
input#male, input#female {
    position: relative;
    left: 20px;
    width: 20%;
}


.button {
    border: 2px solid gray;
    float: left;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 0 4px rgb(166, 162, 162);
}
.button:hover {
    box-shadow: 0 0 8px rgb(115, 109, 109);
    background-color: green;
    color: white;
}

textarea {
    width: 100%;
    height: 60px;
    padding: 12px 20px;
    border-radius: 8px;
    background-color: #fff;
    resize: none;
  }

.checkbox {
    display: flex;
    align-items: space-between;
}

#city {
    border: 1px solid gray;
    margin: 3px;
    width: 100%;
    height: 30%;
    cursor: inherit;
  }
