*, *::after,*::before{
  margin:0px;
  padding:0;
  box-sizing:border-box;
}

body{
  font-family:sans-serif;
  font-size:14px;
  color:#222;
  line-height:1.4;
}

a{
  text-decoration:none;
}

nav{
  float: left;
  width:100%;
  background:#385679
  
}


li{
  display:list-item;
}
nav li a{
  color:white;
  padding:13px;
  float:left;
  cursor:pointer;
  transition:0.5s;
}
nav ul{
  float:left;
  width:100%;
}

nav ul li{
  float:left;
  list-style:none;
}
nav>ul>li>a:hover{
  background: #ffffff;
  color: #222;
}


.inner_list{
  min-width:100px;
  background:rgb(83, 106, 137);
  position:absolute;
  top:100%;
  border:1px solid #ddd;
  display:none;
  right:-10px;
  text-align:center;
  cursor:pointer;
 
}


ul.inner_list>li>a{
  color:rgb(255, 255, 255);
  padding:10px;
  float:left;
   transition:2s;
  
}
nav>ul>li{
  float:left;
  list-style:none;
  position:relative;
}
nav>ul>li:hover .inner_list{
  display:block; 
}
nav>ul>li>ul>li:hover {
  background: #ddd;
  color: #000000; 
}
ul.inner_inner_list>li>a{
  color:rgb(255, 255, 255);
  padding:10px;
  float:left;
}

.inner_inner_list{
  min-width:100px;
  background:rgb(83, 106, 137);
  position:absolute;
  top:-3%;
  border:1px solid #ddd;
  display:none;
  left:97px;
  cursor:pointer;
}

nav>ul>li>ul.inner_list>li:hover .inner_inner_list{
  display:block;

}
nav>ul>li>ul.inner_list>li{
  float:left;
  list-style:none;
  position:relative;
}



ul.inner_list> .outer_li>div{
  border-top:15px solid transparent;
  border-left:20px solid transparent;
  border-right:20px solid transparent;
  border-bottom:15px solid lightgrey;
  width:0px;
  position:absolute;
  top:-31px;
  left:35px;
  
}

.outer_li{
  position:relative;
}

.inner_li{
  position:relative;
}
.inner_inner_list>li:hover{
  background: #8a8787;
}

ul.inner_inner_list> .inner_li>div{
  border-top:20px solid transparent;
  border-left:15px solid transparent;
  border-right:15px solid rgb(87, 87, 87);
  border-bottom:20px solid transparent;
  position:absolute;
  right:101%;
  
}
.inner_inner_list>li{
  width:100%;
  border:1px solid rgb(255, 255, 255);
}
.inner_list>li{
  width:100%;
  border:1px solid rgb(255, 255, 255);

}