* , *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    font-size: 14px;
    line-height: 1.4;
    min-height: 100%;
    background-image: url(https://picsum.photos/1200/1200);
    background-repeat: no-repeat;
    background-size: cover;
    background-position-x: center ;
    background-position-y: center ;
    background-attachment: fixed;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

 fieldset {
    width: 480px;
    padding: 30px 50px;
 }

form {
    background-color: white;
}

.form__group {
    margin-bottom: 15px;
    width: 100%;
    float: left;
}

label {
    float: left;
}

input {
    padding: 8px 12px;
    width: 100%;
    float: left;
    border: 2px solid rgb(174, 164, 164);
    border-radius: 8px;
}

.button {
    border: 2px solid gray;
    float: left;
    width: 100%;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}
/* 
textarea {
    resize: none;
} */